body{
	background-color: #5CDB95;
}

.main_menu {
	background-color: #fff;
}
.main_menu ul,
.main_menu li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main_menu li{
	display: inline;
}

.container {
	width: 70%;
	float:left;
}
sidebar{
	width: 30%;
	float: left;
}
.widget_title{
	color: aqua;
	font-family: Arial, Helvetica, sans-serif;

}

article{
	border-bottom: 1px solid #05386B;
	background-color: #EDF5E1;
}